/* 
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('./font/ubuntu.woff') format('woff');
}


@font-face {
  font-family: 'FontName';
  font-style: normal;
  font-weight: 300;
  src: local('FontName Light'), local('FontName-Light'), url(https://fonts.gstatic.com/some-url.woff2) format('woff2');
} */


body {
  font-family: 'Helvetica', Times, serif, sans-serif;
}
/* GENERAL STYLES */
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  /* border: 1px solid white; */
}

/* Main Window and Panels */
#main-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #242424;
}

#left-panel {
  width: 66%;
  min-width: 800px;
  display: flex;
  padding: 20px 5px;
}

#right-panel {
  width: 34%;
  min-width: 300px;
  height: 100vw;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  border-left: 1px solid grey;
  padding: 20px 5px;
  flex-direction: column;
}

#title-panel{
  color: white;
}

#info-title{
  color: white;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 10px;
  opacity: .8;
}

#info-panel{
  display: block;
  overflow: auto;
  flex-direction: column;
  padding: 10px;
  background-color: #30353e;
  opacity: 0.8;
  color: rgb(234, 242, 250);
  border-radius: 5px;
  border: 1px solid white;
  width: 99%;
  min-width: 350px;
  min-height: 200px;
  box-shadow: 0 0 5px #0ff;
}

.component-title-bar {
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 0.5;
  padding-top: 15px;
}

.title-bar, #state-title, #props-title, #children-title {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

#state-title, #props-title, #children-title {
  padding-top: 10px;
  color: white;
}

#state-type {
  font-size: 1em;
  font-weight: normal;
  padding-left: 25px;
}

.property-name {
  padding-left: 25px;
  font-weight: bold;
  font-size: 1em;
}
.property-value {
  padding-left: 50px;
  font-weight: normal;
  font-weight: .8em;
}

.propBar, .childrenBar {
  padding-left: 25px;
}


summary, details {
  outline: none;
}



/* TREE */

#tree {
  margin: auto;
}

.nodes {
  fill: #14a897;
}
.link {
  stroke: #e8e888;
}
.node text {
  font: 12px sans-serif;
}
#tree-container {
  padding: 10px;
}

.button-bar {
  display: flex;
  flex-direction: column;
}

#center-tree, #show-state {
  /* font-size: 1.2rem; */
  color: white;
  font-size: 1em;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 3px;
  opacity: .8;
}